asgiref
certifi
charset-normalizer
coreapi
coreschema
Django
django-ckeditor
django-filter
django-js-asset
djangorestframework
djangorestframework-simplejwt
drf-yasg
idna
inflection
itypes
Jinja2
MarkupSafe
packaging
Pillow
psycopg2-binary
PyJWT
python-decouple
pytz
requests
ruamel.yaml
ruamel.yaml.clib
sqlparse
uritemplate
urllib3